---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ANA MARIA - ESTILISTA">
  <header>
    <nav></nav>
  </header>
  <main>
    <section
      id="ini"
      class="relative flex flex-wrap justify-center items-center bg-gradient-to-t to-orange-900 from-[#690263]"
    >
      <img
        class="rounded-full w-[300px]"
        id="photo-perfil"
        src="./Perfil/perfil.webp"
        alt="Ana Maria Agreda Guzman - Estilista"
      />
      <h1>
        Descubre tu estilo único con Ana Maria Agreda: Servicios de belleza y
        moda
      </h1>
    </section>
    <div id="main-origen" class="flex justify-center items-center flex-col">
      <section>
        <span class="text-2xl">
          <strong class="text-4xl"> Bienvenidos a Ana Maria Agreda Estilista </strong>
          <br>
          <br>
          Descubre la elegancia y el cuidado personal en manos de una profesional con experiencia y dedicación. Con años de experiencia en el mundo de la belleza, te ofrece una gama completa de servicios para realzar tu estilo y bienestar.
        </span>
      </section>
      <section class="flex flex-col justify-center items-center">
        <h2>Mis Servicios</h2>
        <ul class="grid gap-7 place-items-center">
          <li class="flex gap-3 p-4 bg-[#4f007c] rounded-xl">
            <div>
              <h3>Peinados</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
                tempora corporis dolorem fugit veritatis quibusdam impedit
                mollitia hic beatae consequatur.
              </p>
            </div>
          </li>
          <li class="flex gap-3 p-4 bg-[#4f007c] rounded-xl">
            <div>
              <h3>Cortes</h3>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Reprehenderit minus qui provident et fuga dolore. Deserunt quod
                eum officiis ipsum?
              </p>
            </div>
          </li>
          <li class="flex gap-3 p-4 bg-[#4f007c] rounded-xl">
            <div>
              <h3>Tintes</h3>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Reprehenderit minus qui provident et fuga dolore. Deserunt quod
                eum officiis ipsum?
              </p>
            </div>
          </li>
          <li class="flex gap-3 p-4 bg-[#4f007c] rounded-xl">
            <div>
              <h3>Manicura y Pedicura</h3>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Reprehenderit minus qui provident et fuga dolore. Deserunt quod
                eum officiis ipsum?
              </p>
            </div>
          </li>
        </ul>
      </section>
      <section class="flex flex-col justify-center items-center">
        <h2>Sobre mí</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel
          obcaecati ducimus magni inventore ea eveniet harum ratione vero id
          expedita? Magnam ullam similique ad dolores rem, iusto quisquam. In,
          natus veniam! Quia.
        </p>
        <br />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. In veritatis
          dicta sed dolorem, consectetur cumque numquam vero provident dolores
          officiis.
        </p>
        <br />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium,
          error quia porro ipsum vel omnis.
        </p>
      </section>
      <section class="flex flex-col justify-center items-center">
        <h2>Trabajos realizados</h2>
        <section class="flex flex-wrap gap-6 justify-center items-center">
          <img class="rounded-lg" src="./Works/tintes/tinte1.jfif" alt="img1" />
          <img
            class="rounded-lg"
            src="./Works/manicura/manicura1.jfif"
            alt="img3"
          />
          <img class="rounded-lg" src="./Works/cuts/cut1.jfif" alt="img4" />
          <img class="rounded-lg" src="./Works/tintes/tinte2.jfif" alt="img2" />
          <img class="rounded-lg" src="./Works/cuts/cut2.jfif" alt="img5" />
          <img class="rounded-lg" src="./Works/cuts/cut3.jfif" alt="img6" />
          <img
            class="rounded-lg"
            src="./Works/manicura/manicura2.jfif"
            alt="img7"
          />
          <img class="rounded-lg" src="./Works/cuts/cut3.jfif" alt="img8" />
        </section>
      </section>
      <section class="flex flex-col justify-center items-center">
        <h3 class="text-[#ee82ee] pl-8">Clientes Satisfech@s</h3>
        <div class="flex flex-wrap gap-10 justify-center items-center mt-9">
          <div
            class="bg-yellow-600 p-4 flex justify-center items-center flex-col rounded-xl max-w-[400px]"
          >
            <h4>Susana</h4>
            <p class="text-[1rem] md:text-lg">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam
              soluta ipsam vitae nobis? Quas unde voluptatem nulla optio ipsam
              cumque laboriosam, minus ipsa voluptas dolor similique a magnam
              repellendus voluptate?
            </p>
          </div>

          <div
            class="bg-yellow-800 p-4 flex justify-center items-center flex-col rounded-xl max-w-[400px]"
          >
            <h4>Josue</h4>
            <p class="text-[1rem] md:text-lg">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam
              soluta ipsam vitae nobis? Quas unde voluptatem nulla optio ipsam
              cumque laboriosam, minus ipsa voluptas dolor similique a magnam
              repellendus voluptate?
            </p>
          </div>
          <div
            class="bg-green-900 p-4 flex justify-center items-center flex-col rounded-xl max-w-[400px]"
          >
            <h4>Cristian</h4>
            <p class="text-[1rem] md:text-lg">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam
              soluta ipsam vitae nobis? Quas unde voluptatem nulla optio ipsam
              cumque laboriosam, minus ipsa voluptas dolor similique a magnam
              repellendus voluptate?
            </p>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer class="px-[20%] pt-[10vh] text-white">
    <h2>ANA MARIA AGREDA</h2>
    <div class="grid md:grid-cols-2  mt-[70px] gap-12">
      <div class="flex flex-col gap-7">
        <span class="text-xl font-bold">Redes sociales</span>
        <div class="flex gap-10">
          <button>
            <a target="_blank"
              href="https://www.facebook.com/anamaria.agredaguzman?mibextid=ZbWKwL"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="60"
                height="60"
                viewBox="0 0 24 24" 
                fill="none"
                stroke="#ffffff"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
                ></path></svg
              ></a
            >
          </button>
          <button>
            <a target="_blank"
              href="https://www.instagram.com/anamariaagredaguzman?igsh=a2MxOHlyMzQ5MDY="
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="60" 
                height="60" 
                viewBox="0 0 24 24" 
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
                ></path><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
                ></path><path d="M16.5 7.5l0 .01"></path></svg
              ></a
            >
          </button>
          <button
            ><a target="_blank" href="https://wa.link/rxwaz1"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="60" 
                height="60" 
                viewBox="0 0 24 24" 
                fill="none"
                stroke="#ffffff"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path><path
                  d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
                ></path></svg
              ></a
            ></button>
        </div>
      </div>
      <div class="flex flex-col gap-7">
        <span class="text-xl font-bold">Agendar una cita</span>
        <button class="bg-orange-600 p-3">
          <a target="_blank" href="https://wa.link/p0bqo7">AGENDAR CITA</a>
        </button>
      </div>
    </div>
    <span class="block opacity-80 text-center mt-[10px] text-xl">Ciudad de La Paz | Bolivia</span>
  </footer>
</Layout>
<style>
  #ini {
    margin: 0;
    padding: 40px;
    position: relative;
    color: white;
  }
  #main-origen {
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  #main-origen > section {
    width: 80%;
  }
</style>
